/* Cursor courtesy of https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/food/foo-7/foo610.cur), auto !important;
}

/*
rose
https://cur.cursors-4u.net/nature/nat-4/nat367.cur
grapefruit
https://ani.cursors-4u.net/nature/nat-11/nat1051.cur
floating puff
cursor: url(https://cur.cursors-4u.net/food/foo-6/foo508.ani), url(https://cur.cursors-4u.net/food/foo-6/foo508.png), auto !important;
pumpkin
cursor: url(https://cur.cursors-4u.net/food/foo-5/foo439.cur), auto !important;
*/